<!DOCTYPE html>
<html>
<head>
  <title>CAT APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<ul>
  <% flash.each do |type, message| %>
    <li><%= type %>: <%= message %></li>
  <% end %>
  </ul>
  <h1>ALL THE CATS</h1>
  <table>
    <tr>
      <th>Cat</th>
      <th></th>
      <th>Owner</th>
    </tr>
    <% @cats.each do |cat|%>
      <tr>
        <td><%= cat.name %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= cat.owner %></td>
      </tr>
    <% end %>
  </table>
  <ul>  
  </ul>
  <a href="/cats/new">New cat!</a>
</div>
</body>
</html>

