<!DOCTYPE html>
<html>
<head>
  <title>DOG APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Pacifico|Cookie|Comfortaa|Ubuntu|Varela+Round">
  <%= AssetPipeline.pipeline %>
</head>
<body>
  <h1>SP SUP UPS UPS UPSUPSUPSUPSUPSUP SUP not UPS</h1>
  <%= yield %>
</body>
</html>

